body{
    background: rgb(209, 200, 200);
    min-height: 430px;
}
.title{
    text-align:center;
    color: navy;
    padding: 10px;
}
.one{
    padding: 5px;
    margin: 10px;
    width: 50px;
}

.two{
    padding: 5px;
    margin:10px;
    width: 50px;
}
.home{
    margin-left: auto;
    margin-top: -60px;
    display: flex;
    flex-direction: row-reverse;
}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}