<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="data" *ngIf="book">
        <h2>Details of : {{ book.title | titlecase }}</h2>
        <h4>ISBN : {{book.isbn | titlecase }}</h4>
        <h4>Author Name : {{book.author | titlecase }}</h4>
        <h4>Description : {{book.description | titlecase}}</h4>
    </div>

</body>

</html>