<div class="container">
    <div class="text w3-container w3-center w3-animate-top">
        <h2 class="text-danger"> <i class="fa fa-warning"></i> &nbsp; Error!</h2>
    <p class="text-danger"> An error occurred while processing your request</p>
    </div>
</div>